.mainMenu {
    background-color: #2B2B2B;
    width: 1fr;
    height: 8vh;
    justify-content: left;
    display: flex;
    /* grid-template: 1fr / 1.5fr 1fr; */
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
    z-index: 2;
}
.mainMenu ul {
    justify-content: left;
    display:flex;
    align-items: center;
}

.mainMenu ul li {
    list-style: none;
    padding: 10px;
}
.mainMenu ul li a {
    text-decoration: none;
    color:#ececec;
    font-size: 16px;
}

.mainMenu .active {
    color: white;
    font-weight: 700;
}
.slogan {
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    right: 20px
}

/* .menuItem {
    padding-left: 10px;
    padding-right: 10px;
} */