@import './styleVariables.scss';

h1 {
  color: $headerColor;
  font-size: clamp(1.5rem, 2.3vw, 2.2rem);
  font-weight: 700;
  letter-spacing: 0.015em;
  user-select: none;
}

h2,
h3,
h4,
h5,
h6 {
  color: $headerColor;
  user-select: none;
}

p {
  color: $textColor;
}
