.PublishASong {
    /* background-color:#272727; */
    height: 100vh;
    width: 100vw;
    display: flex;
}
.mainContentContainer {
    display: grid;
    /* flex-direction:column; */
    /* width:100%; */
    grid-template: 1fr 5fr / 1fr 1fr;
    grid-template-areas:
    "header header"
    "albumArtwork inputForm"
}
.header {
    color: white;
    padding: 30px 0px 30px 35px;
    grid-area: header;
    /* backdrop-filter: blur(5px); */
    /* background-size: cover; */
    /* background-color:#7b3939; */
}
.header h1 {
    font-size: 40px;
    font-weight: 750;
    padding-bottom: 20px;
}
@media only screen and (min-width: 1000px) {
    /* .formSection {

    } */
}
@media only screen and (max-width: 999px) {
    .mainContentContainer {
        grid-template: 1fr 3fr 3fr / 1fr;
        grid-template-areas:
        "header"
        "albumArtwork"
        "inputForm"
    }
}
.albumArtwork {
    background-color: #1C1C1C;
    display: grid; 
    justify-content: center;
    grid-area: albumArtwork;
    color: white;
    padding-top: 10px;
}
.albumArtwork img {
    max-width: 500px;
    max-height: 500px;
    width: 80vw;
    padding: 20px;
}
.albumArtwork h3 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputForm {
    background-color: #1C1C1C;
    grid-area: inputForm;
    display: grid;
    /* grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr; */
    /* grid-template: 0.3fr 0.2fr 0.1fr 0.1fr 0.1fr 0.3fr / 1fr; */
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: left; */
    color: white;
    /* padding: 10px 30px 10px 20px; */
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.inputForm input {
    height: 50px;
    margin: 15px 0px 15px 0px;
    /* max-width: 400px; */
    min-width: 200px;
    max-width: 500px;
    width: 60vw;
}
.inputForm label {
    font-size: 18px;
    font-weight: 700;
    align-items: left;
}
.textBox {
    background-color: rgb(0, 0, 0);
    border-width: 0px;
    color: white;
    padding-left: 10px;
    font-size: 16px;
}
.inputForm input:focus {
    outline-width: 0;
}
.upload {
    background-color: #DE5F3B;
    display: flex;
    align-items: center;
    padding: 15px 0px 0px 10px;
    margin: 10px 0px 0px 0px;
} 
.publish {
    background-color: #6F44EE;
    /* width: 200px; */
    margin-left: -1px;
    font-size: 14px;
} 