.PublishASong {
    display: flex;
}
.mainContent {
    grid-area: mainContent; 
    display: grid;
    grid-template: 3fr 8fr / 1fr;
    grid-template-areas:
    "header"
    "uploadSection";
}
.uploadSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    color: white;
    grid-area: header;
}
.header h1 {
    font-size: 40px;
    font-weight: 750;
}
.publishForm {
    grid-area: inputForm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.publishForm input {
    height: 50px;
    margin: 10px 0px 10px 0px;
    min-width: 300px;
    max-width: 500px;
    width: 35vw;
}
.centerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.publishForm label {
    font-size: 18px;
    font-weight: 700;
    align-items: left;
}
.publishForm input:focus {
    outline-width: 0;
}
.upload {
    display: flex;
    align-items: center;
    padding: 15px 0px 0px 10px;
    margin: 10px 0px 0px 0px;
} 
.publish {
    font-size: 14px;
    color: white;
    font-weight: 700;
} 
@media only screen and (max-width: 900px) {
    /* .uploadSection {
        grid-template: 3fr 3fr / 1fr;
        grid-template-areas:
        "albumArtwork"
        "inputForm"
    }
    .inputForm {
        display: grid;
    }
    .publishForm {
        margin: 0px 5vw 0px 5vw;
    } */
    .publishForm input {
        height: 45px;
        margin: 10px 0px 10px 0px;
        min-width: 220px;
        max-width: 300px;
    }
    .mainContent {
        grid-area: mainContent; 
        display: grid;
        grid-template: 3fr 6fr / 1fr;
        grid-template-areas:
        "header"
        "uploadSection";
    }
    /* .menuAndContentSection {
        width: 78vw;
        display: grid;
        grid-template: 
          'menu' 1fr
          'mainContent' 11fr;
    } */
}