@use '../../styles/styleVariables.scss' as *;

.socialShareModal {
  .socialShareSubheading {
    margin-top: 0.8rem;
    font-size: 1.05rem;
    color: #d4e3f6;
  }
}

.socialHeaderContainer {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  cursor: pointer;
  width: fit-content;
  border: 1px solid rgba(163, 189, 217, 0.3);
  border-radius: 10px;
  padding: 0.38rem 0.6rem;

  h3 {
    margin-right: 0.5rem;
  }

  svg {
    fill: white;
    align-self: center;
  }

  &:hover {
    border-color: rgba(35, 198, 165, 0.62);

    * {
      color: $accentColor;
      fill: $accentColor;
    }
  }
}

.socialButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.socialShareLoading {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}
