.horizontalArtworkScroller {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 68vw;
  padding-block: 1rem;
  transform: translateX(-0.5rem) !important;
}

.newReleaseCardContainer {
  .newReleaseCard {
    max-width: 15vw;
    margin-inline: 1.5vw;
    border-radius: 0.5rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
    transition: 0.2s ease;
  }
}
