.horizontalArtworkScroller {
  display: flex;
  align-items: center;
  overflow-x: auto;
  z-index: -3;
  width:74vw;
}

.newReleaseCard {
  max-width:15vw;
  border-radius: 10px;
  margin-right: 3vw;
  object-fit: cover;
  aspect-ratio: 4/3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
