.maintext {
    color: white;
    padding: 13px;
    text-align: center;
    align-items: center;
}
/* .Success .row {
    display: flex;
    background-color: #1C1C1C;
    padding: 15px;
    height: 78vh;
    color: rgb(226, 226, 226);
    text-align: center;
    align-items: center;
}  */