@import '../../styles/styleVariables.scss';

/* 
  Note: '&::before' styles are necessary because tables 
  do not use margins the same way as standard divs
*/

.songListTable {
  color: $textColor;
  border: 2px solid $transparentBorder;
  width: 100%;
  border-radius: $borderRadius;
  padding: 1rem;
  margin-bottom: 5rem;

  thead {
    text-align: left;
  }

  th {
    padding-left: 0.5rem;
  }

  tbody {
    tr {
      margin-bottom: 1rem;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  td {
    padding-left: 0.5rem;
  }
}

.songListArtworkContainer {
  position: relative;
  display: flex;
  justify-content: center;

  .songListArtworkThumbnail {
    width: 3rem;
    height: 3rem;
    user-select: none;
    // margin-right: 0.5rem;
    margin-block: 0.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .artworkThumbnailPlayIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  &:hover .artworkThumbnailPlayIcon {
    visibility: visible; // Show the icon on hover
  }
}

// Overrides for audio playback component
.rhap_container {
  background: rgba(0, 0, 0, 0.8) !important;

  .rhap_time {
    color: $textColor;
  }
}

.actionsContainer {
  // border:1px solid red;
  gap: 0.5rem;
  justify-content: space-evenly;
  padding-right: 0.5rem;
  cursor: pointer;
  .likedIcon,
  .addPlaylistIcon {
    font-size: 1.5rem;
    visibility: hidden; // Keep the icon hidden by default
  }

  .alwaysVisible {
    visibility: visible !important; // Always show the icon if it's liked
  }
}

.songRow {
  cursor: pointer;
  &:hover .likedIcon:not(.alwaysVisible),
  &:hover .addPlaylistIcon {
    visibility: visible; // Show the icon on hover
  }

  td:first-child {
    padding-left: 0px; // Apply 0px padding-left to the first td of each row
  }
}

.songRow.selectedRow {
  background-color: rgba(255, 255, 255, 0.1);
}
