// Color scheme
$grayBackground: #2b2b2b;
$baseColor: rgb(14, 39, 60);
// $accentColor: #aee6f2;
$accentColor: #c5fffb;

// Typography
$headerColor: rgb(236, 236, 236);
$textColor: rgb(236, 236, 236);
$navTextColor: rgb(219, 219, 219);

// Components
$buttonColor: rgb(20, 38, 57);
$transparentBorder: rgba(255, 255, 255, 0.3);

$borderRadius: 0.5rem;
