.SavedSongs {
    /* width: 100vw; */
    height: 100vh;
    /* position: relative; */
    /* overflow: hidden; */
    display: flex;
}
.mainContentContainer2 {
    width: 82vw;
    min-height: 130vh; 
    display: grid;
    grid-template: 1fr 10fr / 1fr;
    grid-template-areas:
    'menu'
    'centerMe';
}
.centerMe {
    background-color: rgb(23, 23, 23); 
    grid-area: centerMe; 
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas:
    'space1 space2';
}
.space {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.space1 {
  grid-area: space1;
}
.space2 {
  grid-area: space2;
}