@import '../../styles/styleVariables.scss';

.topMenuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  border: 1px solid red;
  height: 3rem;
  background-color: $grayBackground;

  .navigationIcon {
    cursor: pointer;

    &:hover {
      fill: #de5f3b;
    }
    &:active {
      fill: #de5f3b;
      filter: brightness(0.55);
    }
  }
}

.menuProfileContainer {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 1rem; // Adjust right margin as needed

  &:hover {
    color: #de5f3b;
  }

  p {
    margin-right: 0.5rem; // Adjust space between the username and the icon
  }
}
