.footer {
  padding: 0.5rem;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playerControls {
  flex-grow: 2;
  height: 4rem;
  padding-right: 1rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  // max-width: 30vw;
  margin-left:1rem;

  .songTitle {
    font-size: 2rem;
    margin-inline: 1rem;
    width: 20vw;
    text-align: center;
  }

  .playerAlbumArt {
    max-width: 4rem;
  }
}
