.songTable {
    background-color: #101010;
    height: 52vh;
    width: 82vw;
    color: rgb(223, 223, 223);
    padding-left: 40px;
    overflow-y: scroll;
    overflow: auto;
    flex-grow: 1;
    /* bottom: 0; */
}
.songTable img {
    width: 65px;
}
.tableHeader {
    background-color: black;
    color: rgb(228, 228, 228);
    height: 10vh;
    width: 82vw;
    max-height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}